<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./stylesheets/main.css" />
</head>
<body>
<div class="container-fluid main">
	<div class="header row">
		<!--		<div class="col-md-12 user_hello">
			<p>Hi 	<%= data.userName %>, how is your day?
			</p>
		</div>-->
		<div class="navigtion-wraper">
			<ul class="main-navigation ">
				<!--col-xs-12 col-sm-3 -->
				<li>You are looged as <%= data.userName %> </li>
				<li><a href="/main/mybooking">My bookings</a></li>
				<li><a href="/main/createPage">Book a room</a></li>
				<li><a href="/main/rooms">Rooms</a></li>
				<li><a href="/main/logout">Log out</a></li>
			</ul>
		</div>
	</div>
	<div class="main-content row">
		<div class="notifications">
			<% if (notification.length > 0) { %>
				<div class="container-fluid">
					<h2 class="notifications-title">YOUR NOTIFICATIONS:</h2>
					<div class="row notifications-list">
						<% notification.forEach(function(item) { %>
							<div class="col-sm-4 col-xs-12 item_notification">
								<p><span>Name:</span> <%= item.name %> </p>
								<p><span>Date:</span> <%= item.date %> </p>
								<p><span>Room:</span> <%= item.room %> </p>
								<p><span>Lesson:</span> <%= item.lesson %> </p>
							</div>
						<% });%>
					</div>
				</div>
			<% } else{%>
				<div class="empty-list">
					You have not made any booking yet. <a href="/main/createPage">Create one?</a>
				</div>
			<% } %>
		</div>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>