<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mybookings.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>
<div class="container-fluid main">
    <%- include('header', {user: user}); -%>

    <div class="container" style="height: 100vh;">
        <div class="mybookings_title row">
            <h2>Мої бронювання</h2>
            <!--<a class="go_back">Back</a>-->
        </div>
        <div class="row items_container">
            <% if (items.length > 0) { %>
                <% items.forEach(function(item) { %>
                    <% var date = item.date.slice(0, item.date.indexOf('T')) %>
                    <div class="item col-sm-4 col-xs-12">
                        <div class="background">
                            <p><span>Назва: </span> <%= item.name %></p>
                            <p><span>Дата: </span><%= date.split('-').reverse().join('.') %></p>
                            <p><span>№ пари: </span><%= item.lesson %></p>
                            <p><span>Аудиторія: </span><%= item.room %></p>
                            <p><span>Кафедра:</span> <%= item.depName %> </p>
                            <p><span>Адреса:</span> <%= item.buildingName + ', вул. ' + item.street + ' ' + item.house %> </p>
                            <div class="edit-delete_links">
                                <a href='/main/mybooking/edit/<%= item.id %>'>Редагувати</a>
                                <a href='/main/mybooking/delete/<%= item.id %>'>Видалити</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            <% } else { %>
                <div class="empty">
                    <p class="message">Ви не створили жодного бронювання</p>
                    <a href="/main/createPage">Створити бронювання</a>
                    <button id="go_back">Назад</button>
                </div>
            <% } %>
        </div>
    </div>
</div>

<script>
    document.getElementById('go_back').addEventListener('click', function () {
        window.history.back();
    });
</script>
</body>
</html>
