<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body>
	<div class="container">
		<h2>Rooms information</h2>
		<div class="rooms-container">
			<% if (rooms) { %>
				<% rooms.forEach(function(item) { %>
					<div class="item">
	        			Name: <%= item.name %>
	        		 	Number of seats: <%= item.accom %>
	        		 	Number of Computers: <%= item.computers %>
	        		 	Has a projector: <% if(item.projector == 1) {%>
	        		 	yes
	        		 	<% } else { %>
	        		 	no
	        		 	<% }%>
	        		 	<a href='/main/rooms/shedule/<%= item.id %>/today'>Shedule for today</a>
	        		 	<a href='/main/rooms/shedule/<%= item.id %>/tomorrow'>Shedule for tomorrow</a>
	        		 	<a href='/main/rooms/shedule/<%= item.id %>/week'>Shedule for week</a>
	        		</div>
	   			<% }); %>
   			<% } %>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>