<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mybookings.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/schedule.css"/>
</head>
<body>
<div class="container-fluid main">
    <%- include('header', {user: user}); -%>
    <div class="container">
        <% if (shedule.length > 0) { %>
            <div class="rooms_title row">
                <h2>Розклад для аудиторії №<%= room %></h2>
            </div>
            <div class="row rooms-container">
                <% shedule.forEach(function(item) { %>
                    <% var date = item.date %>
                    <% date = date.slice(0, date.indexOf('T')) %>
                        <div class="item col-sm-4 col-xs-12">
                            <div class="background">
                                <p><span>Назва: </span><%= item.name %></p>
                                <p><span>Дата: </span><%= date.split('-').reverse().join('.') %></p>
                                <p><span>Викладач: </span><%= item.teacher %></p>
                                <p><span>№ пари: </span><%= item.lesson %></p>
                            </div>
                        </div>
                <% }); %>
            </div>
            <button id="go_back">Назад</button>
        <% } else { %>
            <div class="empty">
                <p class="message">Для цієї аудиторії немає бронювань </p>
                <a href="/main/createPage">Створити бронювання</a>
                <button id="go_back">Назад</button>
            </div>
        <% } %>
    </div>
</div>
<script>
    document.getElementById('go_back').addEventListener('click', function () {
        window.history.back();
    });
</script>
</body>
</html>